<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>SmartScreenshot needs to control other applications to take screenshots and perform OCR.</string>
	<key>NSCameraUsageDescription</key>
	<string>SmartScreenshot needs camera access to capture screenshots for text extraction.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024 SmartScreenshot. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSScreenRecordingUsageDescription</key>
	<string>SmartScreenshot needs screen recording permission to capture screenshots and perform OCR text extraction.</string>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>SmartScreenshot needs accessibility permissions to register global hotkeys for instant text extraction.</string>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/p0deje/SmartScreenshot/master/appcast.xml</string>
</dict>
</plist>
