<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.automation.apple-events</key>
	<true/>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
		<string>com.apple.systempreferences</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)-spks</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)-spki</string>
	</array>
	<key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
	<array>
		<string>Desktop/</string>
		<string>Downloads/</string>
		<string>Pictures/</string>
	</array>
	<key>com.apple.security.temporary-exception.files.absolute-path.read-write</key>
	<array>
		<string>/Users/camdenburke/Desktop/</string>
		<string>/Users/camdenburke/Downloads/</string>
		<string>/Users/camdenburke/Pictures/</string>
	</array>
	<key>com.apple.security.temporary-exception.files.user-selected.read-write</key>
	<true/>
	<key>com.apple.security.temporary-exception.files.downloads.read-write</key>
	<true/>
	<key>com.apple.security.temporary-exception.files.desktop.read-write</key>
	<true/>
	<key>com.apple.security.temporary-exception.files.pictures.read-write</key>
	<true/>
</dict>
</plist>
